body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    max-width: 375px;
    color: white;
}

.left{
    background-color:rgb(124, 31, 187);
    justify-content: center;
    padding-top: 30px;
}

img{
    width: 375px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    mix-blend-mode:soft-light;
    /* opacity: 0; */
}

.right{
    background-color: hsl(244, 38%, 16%);
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    max-width: 375px;
    padding: 40px;
    text-align: center;
}

header{
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 185%;
}

main{
    font-size: 109%;
}

span{
color: rgb(124, 31, 187);
}

.counter{
    font-size: 200%;
    margin-bottom: 0;
}

.type{
    text-transform: uppercase;
    padding: 0;
}


@media (min-width: 1200px){

    body{
        background-color: aquamarine;
    }
    
    .container{
        background-color: yellow;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content:center;
        color: white;
    }

    .right{
        background-color: hsl(244, 38%, 16%);
        justify-content: center;
        align-items: center;
        font-family: 'Inter', sans-serif;
        padding: 40px;
        text-align: center;
        /* width: 5000px; */
    }
    
    header{
        align-items: center;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        font-size: 100%;
    }
    
    main{
        font-size: 50%;
    }
    
    span{
    color: rgb(124, 31, 187);
    }
    
    .counter{
        font-size: 100%;
        margin-bottom: 0;
        font-weight: 900;
    }
    
    .type{
        text-transform: uppercase;
        padding: 0;
        font-size: 50%;
    }
    .left{
        background-color:rgb(124, 31, 187);
        /* justify-content: center; */
    }
    
    img{
        /* width: 375px; */
        height: auto;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        mix-blend-mode:soft-light;
    }

}
/* ### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */