body{
    background-color: aquamarine;
}

.container{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:center; */
}

.left{
    background-color: red;
    justify-content: center;
}
.right{
    background-color: royalblue;
}