body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    max-width: 375px;
    color: white;
}

.left{
    background-color:rgb(124, 31, 187);
    justify-content: center;
    padding-top: 30px;
}

img{
    width: 375px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    mix-blend-mode:soft-light;
}

.right{
    background-color: hsl(244, 38%, 16%);
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    max-width: 375px;
    padding: 40px;
    text-align: center;
}

header{
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 185%;
}

main{
    font-size: 109%;
}

span{
color: rgb(124, 31, 187);
}

.counter{
    font-size: 200%;
    margin-bottom: 0;
}

.type{
    text-transform: uppercase;
    padding: 0;
}